<% if current_user %>

<div class="row-fluid">
  <div class="span8">
    <% @scribble = Scribble.new %>
    <%=render :partial => 'scribbles/newscribble'%>
    <div id="scribblesfeed">
      <%= render :partial => 'scribbles/scribbles.html.erb', :locals => { :scribbles_streams => @scribbles_streams } %>
    </div>
    <p>
    <div id="loading" class="progress progress-striped active">
      <div class="bar" style="width:100%;">Loading more...</div>
    </div>
    </p>
  </div>
  <div class="span4 newsfeed">
    <%= render :partial => 'newsfeeds/shownewsfeeds', :locals => { :newsfeeds_streams => @newsfeeds_streams } %>
  </div>
</div>
<% end %>
<script>
var currentPage = 1;
$(document).ready(function(){
  var timelyrefreshScribbleFeeds = function(){
    url = '/refresh'
    $.get(url,function(data,status){
     $('#scribblesfeed').html(data)
     return false
   });
  };
  setInterval(timelyrefreshScribbleFeeds,60000);

  $(".votes").click(function()
  {
   var id = $(this).attr("id");
   var name = $(this).attr("name");
   var parent = $(this)
   if (name=='up')
   {


    $.get('/votedup', {id: id},
     function(data,status){
       parent.html(data);
     });
  }
  else
  {
   $.get('/voteddown', {id: id},
     function(data,status){
       parent.html(data);
     });
 }
 return false;
});

  var checkScroll= function() {
    if (currentPage <= <%= @scribbles_streams.total_pages %>)
    {
      if (nearBottomOfPage()) {
        currentPage++;
        $.get('/socialbeams/loadmorescribbles',{page:currentPage},
         function(data,status){
          $('#scribblesfeed').append(data)
          return false
        });
      } else {
        setTimeout(checkScroll, 1000);
      }
    }else{
      $('#loading').hide()
    }

  };

  function nearBottomOfPage() {
    return scrollDistanceFromBottom() < 150;
  }

  function scrollDistanceFromBottom(argument) {
    return pageHeight() - (window.pageYOffset + self.innerHeight);
  }

  function pageHeight() {
    return Math.max(document.body.scrollHeight, document.body.offsetHeight);
  }

  setInterval(checkScroll,1000);

});
</script>