<% if current_user %>
<% @scribble = Scribble.new %>
<%=render :partial => 'scribbles/newscribble.html.erb'%>
<div id="scribblesfeed">
<%= render :partial => 'scribbles.html.erb', :locals => { :scribbles_streams => @scribbles_streams } %>
</div></br>

<% end %>
<script>
  $(document).ready(function(){
  var timelyrefreshScribbleFeeds = function(){
  url = '/refresh'
  $.get(url,function(data,status){
   $('#scribblesfeed').html(data)
   return false
   });
  };
  setInterval(timelyrefreshScribbleFeeds,60000);

   $(".votes").click(function()
  {
     var id = $(this).attr("id");
     var name = $(this).attr("name");
    var parent = $(this)
          if (name=='up')
         {
              

              $.get('/votedup', {id: id},
                   function(data,status){
                   parent.html(data);
                                          });
         }
         else
        {
             $.get('/voteddown', {id: id},
                   function(data,status){
                   parent.html(data);
                                          });
        }
   return false;
  });

  });


</script>
