/* Other Styles beside BootStrap */

* { margin: 0; padding: 0; }

html { height: 101%; font-family: “Helvetica Neue”, Arial, Helvetica, sans-serif; background: #fff; }
body { font-family: Helvetica, Arial, sans-serif; line-height: 20%;}


/* Style for Scribble Posts on Wall*/

.scribblebody
{
min-height:100px;
margin-bottom:10px;
border-bottom:solid 1px #3b5998 ;
}
.scribbleimg
{
float:left;
height:50px;
width:50px;
border:solid 1px #d4dae8  ;
padding:5px;
}


.scribbletext
{
margin-left:70px;
min-height:50px;
word-wrap:break-word;
overflow:hidden;
padding:5px;
display:block;
font-family:'Georgia', Times New Roman, Times, serif
}
.scribbletime
{
font-size:11px;
color:#999;
font-family:Arial, Helvetica, sans-serif;
margin-top:10px;
}
 

.newsfeed
{
	background: #fff;
	border: 1px solid #ccc;
	padding-top: 10px;
	max-height:300px;
	overflow-y:auto;
	overflow-x:auto;
}
.newsfeed .newsfeedrow
{
	border: 2px solid #ccc;
	font-family: Menlo, 'Panic Sans', monospace;
	font-size: 10px;
	height:30px;
	margin:5px;
	text-align: center;
}

/*Custom Header Styles*/
body {
	font-family: Georgia, serif;
	line-height: 1em;
}
code {
	background-color: #f4f4f4;
	font-family: Menlo, 'Panic Sans', monospace;
	font-size: 0.875em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: sommet-slab-1, sommet-slab-2, Georgia, serif;
	font-weight: normal;
	line-height: 1.2em;
	padding: 0.5em 0 0.25em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

h5, h6 {
	font-size: 1em;
}

#logo {
	padding-bottom: 0;
}

.logo {
	color: #11bad3;
	font-family: sommet-slab-1, sommet-slab-2, Georgia, serif;
	font-weight: normal;
	font-size: 1.2em;
}
.logo b {
	font-weight: bold;
}

.banner-wrap {
	text-align: center;
	background: #ffc;
	border-bottom: 1px solid #ccc;
	padding: 0 10px 1em;
	margin-bottom: 1em;
}

.intro {
	font-size: 1.75em;
	font-family: sommet-slab-1, sommet-slab-2, Georgia, serif;
	line-height: 1.1em;
	max-width: none;
}

.feature h2 {
	font-weight: bold;
	text-align: center;
}

.feature p {
	font-size: 1.125em;
}


a.bttn {
	border-right: 1px solid #0087a0;
	border-bottom: 1px solid #0087a0;
	background: #11bad3;
	color: #fff;
	display: inline-block;
	font-family: sommet-slab-1, sommet-slab-2, Georgia, serif;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0.5em 0;
	padding: 0.5em 0.75em;
}

